.main{
    width: 815px;
    text-align: center;
    border: 1px solid grey;
    margin-top: 0px;
    margin-left: 100px;
}
.h7{
    letter-spacing: -1px;
    color: rgb(104, 104, 104);
    text-align: left;
    font-weight: bold;
    font-size: 33px;
    font-family: 'Poppins';
    padding: 50px;
}
.h7:hover{
    img{
        
    }
}
.texxt{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
    font-size: 30px;
    padding: 50px;
}
.footer{
    margin-top: 100px;
}
.img{
    visibility: hidden;
}